/*HEADER */
.header {
    /* color:#171C30; */ 
    width: 100%; /* Prend toute la largeur de l'écran */
    display: flex;
    justify-content: flex-end; /* Place le titre à gauche et la navigation à droite */
    align-items: center; /* Centre verticalement le contenu */
    z-index:5;
  }
  
  .header h1 {
    margin: 0; /* Supprime la marge du titre */
  }
  
  .navigation {
    list-style: none; /* Supprime les puces de la liste */
    margin: 0; /* Supprime la marge de la liste */
    padding: 0; /* Supprime la marge intérieure de la liste */
  }
  
  .navigation li {
    display: inline; /* Affiche les éléments de la liste en ligne */
    margin-right: 30px; /* Ajoute un espace entre les éléments de la liste */
  }

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right:10px;
}


header a{
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    color: #171C30;
    text-decoration: none;
 }

