/*REPSONSIVE SUR TELEPHONE*/


@media only screen and (max-width: 400px) {
    main {
      font-size: 14px;
      background-color: black;
    }
  
    .home-titre{
        font-family: 'Paytone One', sans-serif;
        font-size: 30px;
        color: #171C30;
        position: relative;
        z-index: 10;
        margin:0;
    }
    
    .home-h3{
        font-family: 'Paytone One', sans-serif;
        font-size: 20px;
        color: #171C30;
        position: relative;
        z-index: 10;
        margin:0;
    }
    

  }