 
  /* NIGHT MODE */
  
  .toggle-button{
    border: none;
    background: none;
    position: relative;
    z-index: 10;
    cursor:pointer;
  }
  
  .moon-button{
    width:50px;
  }
  
  .night-mode {
    background-color: #171C30;
    color: #F6F2EA;
    transition: background-color 15s ease-in-out;
  
    .home-titre {
      color: #F6F2EA;
      background-color: #171C30;
    }
  
    .home-banniere-section {
      background-color: #171C30;
    }
  
  }
  